@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');
*{
	 padding:0;
	 margin:0;
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
  background-color: #c0ff3e;
  background-image: none;
  border-bottom-color: #71c671;
  border-bottom-left-radius: 10px;
  border-right-color: #71c671;
  border-top-color: #71c671;
  color: #050505;
}



body{
	background-color:#E9EAEA;
	font-family: 'PT Serif', serif;
}
.completed {
  text-decoration: line-through;
}
.todo-title {
  font-size: 12px;
  font-weight: 600;
}

.second-layer {
  background-color: #fff;
  box-shadow: 6px -7px 60px -7px #777;
  margin: 0 0 30px;
  min-height: 500px;
  width: auto;
}
.table{
 margin-bottom:0px;
}
.table-secondary {
  font-weight: 600;
  text-align: left;
  color:#2c3e50;
}
.btn1 {
  display: inline-block;
  margin: 5px 0;
}
.date {
  background-color: #c67171;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
  padding: 0px 5px;
  font-weight: 700;
}
.line {
  border-color: #eee;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;

}
.container {
  margin: 20px auto;
  width: 450px;
}

.pb-img img {
  margin-bottom: 12px;
  width: 100%;
}
.detail-page {
  line-height: 26px;
}
.main-body {
  background-color: #fff;
  box-sizing: border-box;
  clear: both;
  min-height: 600px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  float: left;

}

.todo-btn {
  background-color:#008B45;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 2px 0;
  padding: 0 9px;
}

.todo-btn2 {
  background-color: #f57c00;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  margin: 2px;
  padding: 0 8px;
}
.todo-btn3 {
  background-color: #2c3e50;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin: 14px auto;
  padding: 4px 16px;
}
span.todo-btn3 {
  background-color: #2c3e50;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  height: 26px;
  margin: 2px;
  text-align: center;
  width: 95px;
}
.pname, .pnumber {
  color: #191919;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}
.top-area, .app-menu, .app-pagi {
  text-align: center;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #449D44;
  border-color: #449D44;

}
.add-title {
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: #fff;
  padding: 7px 7px 7px 20px;
}
.add-title h3 {
    font-size: 17px;
    margin: 0;
    text-transform: uppercase;
}
.add-form,.detail-page {
    padding: 20px;
}
.add-form label {
    display: block;
    font-size: 13px;
}
selectorSavingError {
}
.add-form input[type="text"], .add-form input[type="email"],
.add-form input[type="time"], .add-form textarea,
.add-form  select,.add-form input[type="tel"],
 .add-form input[type="password"]
{
    border: 1px solid #666;
    margin-bottom: 2px;
    padding: 6px;
    width: 100%;
}
.add-form textarea{
 height:100px;
}
input[type="submit"] {

background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
  border-color: -moz-use-text-color -moz-use-text-color #999;
  border-image: none;
  border-radius: 3px;
  border-style: none none solid;
  border-width: medium medium 3px;
  font-size: 15px;
  font-weight: 600;
  padding: 7px 25px;
  cursor: pointer;
}
.top-area {
  margin: 0;
  padding: 20px 0;
}

.title-btn {
  background-color: #f57c00;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 1px 10px;
}
.right-btn {
  background-color: #999;
  border-radius: 0px 200px 200px 10px;
  border: 0px solid #39a4bf;
  color: #fff;
  display: inline-block;
  padding: 1px 10px;
}
.right-btn a{
color:#d4d5d6;
}
.right-btn a:hover {
text-decoration:none;
color:#fff;
}
.app-menu {
  padding: 10px 0;
}



.gallery {
    display: inline-flex;
    padding: 5px 0;
}
.desc {
    padding: 0 10px;
}

.title {
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 3px 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid #999;
}
.a-btn {
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0 7px;
}

.home-bg{
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);}


.nav-bg{
background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);}


.new-bg{
background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);

}

form ul li,.front-page ul li {
    list-style: outside none none;
}
.front-page {
    padding: 20px;
}
.front-page img {
    width: 100%;
}
