{% extends 'base/base.html' %} {% block content %}

<div class="topsecond-area">
    <div class="line"></div>
    <div class="app-menu">
    <a href="{% url 'add-pn' %}" class="btn btn-xs btn-success">
        <span class="glyphicon glyphicon-calendar"></span> ADD PHONE NUMBER </a>
	<a href="#" class="btn btn-xs btn-success">
        <span class="glyphicon glyphicon-calendar"></span> CATEGORY </a>
</div>
    <table class="table">
        {% for user in users %}
        <tr class="table-secondary">
            <td><span class="glyphicon glyphicon-user"></span> <span class="pname">{{user.name}} </span> <br>
				<span class="pnumber">{{user.home_number }}</span>
                <br>
                <div class="btn1">
                    <a href="{% url 'detail-pn' user.id %}" class="a-btn"><span class="glyphicon glyphicon-flash"></span> detail</a>
                    <a href="{% url 'edit-pn' user.id %}" class="a-btn"><span class="glyphicon glyphicon-flash"></span> edit</a>
                    <a href="{% url 'delete-pn' user.id %}" class="a-btn"><span class="glyphicon glyphicon-flash"></span> delete</a>
                </div>
            </td>
            <td><span class="todo-btn3">{{user.category}} </span></td>
        </tr>

        {% endfor %}
    </table>




    <div class="line"></div>
    <div class="app-pagi">
    {% if users.has_other_pages %}
    <ul class="pagination pagination-sm">

        {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in users.paginator.page_range %} {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}

    </ul>
    {% endif %}

</div>
					 </div>


{% endblock %}